.inline , #button-1{
    float: right;
}
h2{
    color: rgb(42, 42, 148);
    text-align: center;
    text-shadow: 2px 2px lightblue;
}
#input-1{
    width:85%;
}
.form-box{
    background-color: rgb(247, 250, 252);
    border: 1px solid black;
    width: 500px;
    height: 250px;
    border-radius: 5px;
    /* margin-left: 50px; */
    padding: 10px 30px 10px 30px;
    display: block;
    margin: auto;
    -webkit-box-shadow:  10px 10px 7px -2px rgba(123,181,143,1);
    -moz-box-shadow: 10px 10px 7px -2px rgba(123,181,143,1);
    box-shadow: 10px 10px 7px -2px rgba(123,181,143,1);
}

#button-2{
    width: 100%;
}
.part-4{
    text-align: center;
}
.part-2, .part-3, .part-4{
    margin-top: 10px;
}
#descrip{
    width: -webkit-fill-available;
}
.buttonbody{
    display: flex;
    justify-content: center;
}

.submitbutton{
    width: 5rem;
    border-radius: 5px;
}